.calc{
  width: 250px;
  margin: 100px auto 0;
  padding: 15px;
  background: #c2d3ff;
  border-radius: 5px;
}
.calc .field{
  display: flex;
}
.calc .field input{
  flex:8;
  line-height: 2em;
  font-size: 12pt;
  border:0;
}
.calc .field input:focus{
  outline: inherit;
}
.calc .field button:active{
  background: #e0e9ff;
}



.buttons {
  padding: 10px 10px 0;
  display: grid;
  grid-template-columns: repeat(4,25%)
}
.buttons button{
  padding: 15px;
  background: white;
  border:1px solid #dedede;
  font-size: 10pt;
}
.buttons button:focus, .calc .field button:focus{
  outline: inherit;
}
.buttons button:active{
  background: #e0e9ff;;
}
